<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exhibitor.name %>
</p>

<p>
  <b>Description:</b>
  <%= @exhibitor.description %>
</p>

<p>
  <b>Category</b>
  <%= @exhibitor.exhibitor_category.name %>
</p>

<p>
  <b>Is Sponsor?</b>
  
</p>

<div id="rightcolumn">
	<div id="floatbox1">
  		<b>Sponsored Meetings</b><br>
  		<% @exhibitor.meetings.each do |m| %>
  		<%= link_to m.name, meeting_path(@meeting) %><br />
  		<% end %>
	</div>
</div>
</p>

<%= link_to 'Edit', edit_exhibitor_path(@exhibitor) %> |
<%= link_to 'Back', exhibitors_path %>
